<div class="unit one-fifth hide-on-mobiles">
  <rside>
    <h4>News</h4>
    <ul>
      <li class><a href="/registration/">Registration Open</a></li>
      <li class><a href="/program/">Accepted Papers Announced</a></li>
    </ul>
    <h4>Important Dates</h4>
    <ul>
      <li>Conference: Feb 9-11, 2015  </li>
      <li>W&amp;T: Feb 7-8, 2015  </li>
      <li>Early registration: Jan 11, 2015</li>
      <li>Travel grant: Jan 3, 2015</li>
      <li>Camera ready: Dec 15, 2014</li>
      <li><strike>Paper Notification: Nov 10, 2014</strike></li>
      <li><strike>Author response: Oct 28-30, 2014</strike></li>
      <li><strike>W&amp;T notification: Oct 1, 2014</strike></li>
      <li><strike>W&amp;T proposal: Sep 15, 2014</strike></li>
      <li><strike>Paper submission: Sep 12, 2014</strike></li>
      <li><strike>Paper registration: Sep 5, 2014</strike></li>
    </ul>
    <h4>Sponsors</h4>
    <ul>
      <li><a href="http://acm.org/"><img src="../images/acm_logo.gif" width=200></a></li>
      <li><br></li>
      <li><a href="http://www.sigplan.org/"><img src="../images/sigplan.png" width=200></a></li>
      <li><br></li>
      <li><a href="http://www.nsf.gov/"><img src="../images/nsf1.gif" width=100></a></li>
      <li><br></li>
      <li><a href="http://www.oracle.com/"><img src="../images/oracle_logo.bmp" width=200></a></li>
      <li><br></li>
      <li><a href="http://www.research.ibm.com/"><img src="../images/IBMResearch.jpg" width=200></a></li>
      <li><br></li>
      <li><a href="http://www.google.com/"><img src="../images/google_logo.png" width=200></a></li>
      <li><br></li>
      <li><a href="http://research.microsoft.com/"><img src="../images/microsoft_logo.jpg" width=200></a></li>
      <li><br></li>
     </ul>
  </aside>
</div>
